[Unit]
Description=MCSManager Daemon

[Service]
User=mcsmanager
WorkingDirectory=/home/mcsmanager/mcsmanager/daemon
ExecStart=/home/mcsmanager/bin/node app.js
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
Environment="PATH=/home/mcsmanager/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

[Install]
WantedBy=multi-user.target